## OBSERVATIONS:
1. Males make up over 80% of total purchases, however, based on average purchase price, Other/Non-Disclosed players spend more on average, with Females coming in second and Males coming in last. It would be beneficial to focus markerting efforts on targeting Other/Non-Disclosed and Female players since they spend more on average. An example of this was SN Chamjask73 who was #3 of top spenders and had the highest Average Purchase Price of the top 5
2. Age Group 20-24 makes up majority of sales. Outside of this Age Group, I'm not confident my numbers were accurate so I won't make any other observations.
3. Item 178, 145, and 82 are the top games regarding Most Revenue generated and Popularity.

In [1186]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "purchase_data.csv"

# Read file and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [1187]:
# Display the total number of unique players 
sn_grouped = len(purchase_data.groupby("SN").count())
sn_grouped

576

## Purchase Analysis (Total)
Run basic calculations to obtain number of unique items, average price, etc.

#### NUMBER OF UNIQUE ITEMS

In [1188]:
unique_ID_count = len(purchase_data["Item ID"].unique())
unique_ID_count

183

#### AVERAGE PURCHASE PRICE

In [1189]:
average = round(purchase_data["Price"].mean(), 2)
average

3.05

#### TOTAL NUMBER OF PURCHASES

In [1190]:
total_purchases = len(purchase_data["SN"])
total_purchases

780

#### TOTAL REVENUE

In [1191]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

#### SUMMARY DATA FRAME

In [1192]:
summary_df = pd.DataFrame({"Number of Unique Items": [unique_ID_count],
                           "Average Purchase Price": [average],
                           "Total Number of Purchases": [total_purchases],
                           "Total Revenue": [total_revenue]})
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.05,780,2379.77

## Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [1193]:
# Filter data so only MALE show up in DataFrame
male_purchase = purchase_data.loc[purchase_data["Gender"] == "Male"]

In [1194]:
# Filter data so only FEMALE show up in DataFrame
female_purchase = purchase_data.loc[purchase_data["Gender"] == "Female"]

In [1195]:
# Filter data so only OTHER/NON-DISCLOSED show up in DataFrame
other_nd_purchase = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]

#### MALE PLAYERS: COUNT

In [1196]:
male_purchase_count = male_purchase["Item ID"].count()
male_purchase_count

652

#### MALE PLAYERS: PERCENTAGE

In [1197]:
male_player_percent = round((male_purchase_count/780) * 100,2)
male_player_percent

83.59

#### FEMALE PLAYERS: COUNT

In [1198]:
female_purchase["SN"].count()

113

#### FEMALE PLAYERS: PERCENTAGE

In [1199]:
female_player_percent = round((female_purchase_count/780) * 100,2)
female_player_percent

14.49

#### OTHER/NON-DISCLOSED PLAYERS: COUNT

In [1200]:
# Percentage and Count of Other / Non-Disclosed Players
other_nd_purchase["SN"].count()

15

#### OTHER/NON-DISCLOSED PLAYERS: PERCENTAGE

In [1201]:
# Percentage and Count of Other / Non-Disclosed
other_ND_player_percent = round((other_nd_purchase_count/780) * 100,2)
other_ND_player_percent

1.92

## Purchasing Analysis (Gender)
The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

#### PURCHASE COUNT BY GENDER

In [1202]:
#Total purchases by gender
gender_purchase_count = purchase_data.groupby("Gender")["SN"].count()
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

#### AVERAGE PURCHASE PRICE BY GENDER

In [1203]:
gender_purchase_price = purchase_data.groupby("Gender")["Price"].mean()
round(gender_purchase_price,2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

#### TOTAL PURCHASE VALUE BY GENDER

In [1204]:
gender_purchase_value = round(purchase_data.groupby("Gender")["Price"].sum(),2)
gender_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

#### AVERAGE PURCHASE TOTAL PER PERSON BY GENDER

In [1205]:
avg_purch_per_person = round(gender_purchase_value / gender_purchase_count,2)
avg_purch_per_person

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
dtype: float64

#### SUMMARY DATA FRAME

In [1206]:
summary_data_gender = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                    "Average Purchase Price": round(gender_purchase_price,2),
                                    "Total Purchase Value": gender_purchase_value,
                                    "Average Purchase Total (per Person)": avg_purch_per_person})
summary_data_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total (per Person)
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics
The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

In [1207]:
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [1208]:
# Total count of all rows for total # of purchases
total_count = purchase_data["SN"].count()
total_count

780

In [1209]:
# NOTE FROM JESSICA: I binned to decimal values and it oddly didn't impact purchase count.
# Bin all ages up
bins = [0, 10.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 44.9]
group_labels = ["Ages <10", "Ages 10 to 14", "Ages 15 to 19", "Ages 20 to 24", "Ages 25 to 29", "Ages 30 to 34", "Ages 35 to 39", "Ages >=40"]

In [1210]:
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

0    Ages 20 to 24
1        Ages >=40
2    Ages 20 to 24
3    Ages 20 to 24
4    Ages 20 to 24
Name: Age, dtype: category
Categories (8, object): [Ages <10 < Ages 10 to 14 < Ages 15 to 19 < Ages 20 to 24 < Ages 25 to 29 < Ages 30 to 34 < Ages 35 to 39 < Ages >=40]

In [1211]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Ages 20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,Ages >=40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,Ages 20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,Ages 20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,Ages 20 to 24

#### PURCHASE COUNT

In [1212]:
purchase_count = purchase_data.groupby("Age Group")["Item Name"].count()
purchase_count

Age Group
Ages <10          32
Ages 10 to 14     19
Ages 15 to 19    136
Ages 20 to 24    365
Ages 25 to 29    101
Ages 30 to 34     73
Ages 35 to 39     41
Ages >=40         12
Name: Item Name, dtype: int64

#### AVERAGE PURCHASE PRICE

In [1213]:
avg_purchase_price_group = round(purchase_data.groupby("Age Group")["Price"].mean(),2)
avg_purchase_price_group

Age Group
Ages <10         3.40
Ages 10 to 14    2.68
Ages 15 to 19    3.04
Ages 20 to 24    3.05
Ages 25 to 29    2.90
Ages 30 to 34    2.93
Ages 35 to 39    3.60
Ages >=40        3.04
Name: Price, dtype: float64

#### AGE GROUP PERCENTAGES

In [1214]:
age_group_percent = round((purchase_data["Age Group"].value_counts()/780)*100,2)
age_group_percent

Ages 20 to 24    46.79
Ages 15 to 19    17.44
Ages 25 to 29    12.95
Ages 30 to 34     9.36
Ages 35 to 39     5.26
Ages <10          4.10
Ages 10 to 14     2.44
Ages >=40         1.54
Name: Age Group, dtype: float64

#### TOTAL PURCHASE VALUE

In [1215]:
total_purch_value = round(purchase_data.groupby("Age Group")["Price"].sum(),2)
total_purch_value

Age Group
Ages <10          108.96
Ages 10 to 14      50.95
Ages 15 to 19     412.89
Ages 20 to 24    1114.06
Ages 25 to 29     293.00
Ages 30 to 34     214.00
Ages 35 to 39     147.67
Ages >=40          36.54
Name: Price, dtype: float64

#### AVERAGE PURCHASE TOTAL PER PERSON BY AGE GROUP

In [1216]:
avg_purch_total = round(total_purch_value / purchase_count,2)
avg_purch_total

Age Group
Ages <10         3.40
Ages 10 to 14    2.68
Ages 15 to 19    3.04
Ages 20 to 24    3.05
Ages 25 to 29    2.90
Ages 30 to 34    2.93
Ages 35 to 39    3.60
Ages >=40        3.04
dtype: float64

In [1217]:
summary_data_age_groups = pd.DataFrame({"Purchase Count": purchase_count,
                                        "Average Purchase Price": avg_purchase_price_group,
                                        "Total Purchase Value": total_purch_value,
                                        "Average Purchase Total per Person by Age Group": avg_purch_total,
                                        "Age Group Percentages": age_group_percent})
summary_data_age_groups

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group,Age Group Percentages
Ages 10 to 14,19,2.68,50.95,2.68,2.44
Ages 15 to 19,136,3.04,412.89,3.04,17.44
Ages 20 to 24,365,3.05,1114.06,3.05,46.79
Ages 25 to 29,101,2.90,293.00,2.90,12.95
Ages 30 to 34,73,2.93,214.00,2.93,9.36
Ages 35 to 39,41,3.60,147.67,3.60,5.26
Ages <10,32,3.40,108.96,3.40,4.10
Ages >=40,12,3.04,36.54,3.04,1.54

## Top Spenders
Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

Sort the total purchase value column in descending order

#### PURCHASE COUNT, TOTAL PURCHASE VALUE, AVERAGE PURCHASE PRICE

In [1218]:
# Group up requested information
top_spend_purchase_values = purchase_data.groupby("SN")["Price"].sum()
top_spend_purchase_count = purchase_data.groupby("SN")["Price"].count()
top_spend_avg_purch_price = purchase_data.groupby("SN")["Price"].mean()

In [1219]:
# Create a data frame to later sort
top_spend_df = pd.DataFrame({"Purchase Count": top_spend_purchase_count,
                             "Total Purchase Value": top_spend_purchase_values,
                             "Average Purchase Price": top_spend_avg_purch_price})

#### SUMMARY DATA FRAME

In [1220]:
# Now rearrange grouped SNs based on total purchase price 
rearranged_top_spend = top_spend_df.sort_values(["Total Purchase Value"], ascending=False)
rearranged_top_spend.reset_index(inplace=False)
rearranged_top_spend.head()

             Purchase Count  Total Purchase Value  Average Purchase Price
SN
Lisosia93                 5                 18.96                3.792000
Idastidru52               4                 15.45                3.862500
Chamjask73                3                 13.83                4.610000
Iral74                    4                 13.62                3.405000
Iskadarya95               3                 13.10                4.366667

#### EXTRA: WANTED TO SEE GENDER OF TOP SPENDERS
Wanted to see if there was anything to observe, such as higher average purchases/total purchases for Females and Other/Non-Disclosed genders.

In [1221]:
# Group up requested information
top_spend_purchase_values_gen = purchase_data.groupby(["SN","Gender"]).sum()["Price"]
top_spend_purchase_count_gen = purchase_data.groupby(["SN","Gender"]).count()["Price"]
top_spend_avg_purch_price_gen = round(purchase_data.groupby(["SN","Gender"]).mean()["Price"],2)

In [1222]:
# Create a data frame to later sort
top_spend_df_gen= pd.DataFrame({"Purchase Count": top_spend_purchase_count_gen,
                                "Total Purchase Value": top_spend_purchase_values_gen,
                                "Average Purchase Price": top_spend_avg_purch_price_gen})

#### JUST FOR FUN: SUMMARY DATA FRAME

In [1223]:
# Now rearrange grouped SNs based on total purchase price 
rearranged_top_spend_gen = top_spend_df_gen.sort_values(["Total Purchase Value"], ascending=False)
rearranged_top_spend_gen.reset_index(inplace=False)
rearranged_top_spend_gen.head()

,,Purchase Count,Total Purchase Value,Average Purchase Price
SN,Gender,,,
Lisosia93,Male,5,18.96,3.79
Idastidru52,Male,4,15.45,3.86
Chamjask73,Female,3,13.83,4.61
Iral74,Male,4,13.62,3.40
Iskadarya95,Male,3,13.10,4.37

## Most Popular Items
Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

#### ITEM NAME, PURCHASE COUNT, ITEM PRICE, TOTAL PURCHASE VALUE
JESSICA'S NOTES: I had trouble getting the "Item Price" to just print as it is rather than summing/meaning, etc

In [1166]:
# Group up requested information
most_pop_item_name = purchase_data.groupby(["Item ID","Item Name"]).count()["Price"]
most_pop_purchase_count = purchase_data.groupby(["Item ID","Item Name"]).count()["Price"]
most_pop_item_price = purchase_data.groupby(["Item ID","Item Name"]).sum()["Price"]
most_pop_purchase_values = purchase_data.groupby(["Item ID","Item Name"]).sum()["Price"]

In [1167]:
# Create a data frame to later sort
most_pop_df = pd.DataFrame({
                            "Purchase Count": most_pop_purchase_count,
                            "Item Price": most_pop_item_price,
                            "Total Purchase Value": most_pop_purchase_values})

#### SUMMARY DATA FRAME

In [1168]:
# Now rearrange grouped Item IDs based on total purchase count
rearranged_most_pop = most_pop_df.sort_values(["Purchase Count"], ascending=False)
rearranged_most_pop.reset_index(inplace=False)
rearranged_most_pop.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,50.76
145,Fiery Glass Crusader,9,41.22,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,31.77,31.77
82,Nirvana,9,44.10,44.10
19,"Pursuit, Cudgel of Necromancy",8,8.16,8.16

## Most Profitable Items
Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [1169]:
# Group up requested information
most_profit_item_name = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"]
most_profit_purchase_count = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"]
most_profit_item_price = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"]
most_profit_purchase_values = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"]

In [1170]:
# Create a data frame to later sort
most_profit_df = pd.DataFrame({
                            "Purchase Count": most_profit_purchase_count,
                            "Item Price": most_profit_item_price,
                            "Total Purchase Value": most_profit_purchase_values})

#### SUMMARY DATA FRAME

In [1171]:
# Now rearrange grouped Item IDs based on total purchase price 
rearranged_most_profit = most_pop_df.sort_values(["Total Purchase Value"], ascending=False)
rearranged_most_profit.reset_index(inplace=False)
rearranged_most_profit.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,50.76
82,Nirvana,9,44.10,44.10
145,Fiery Glass Crusader,9,41.22,41.22
92,Final Critic,8,39.04,39.04
103,Singed Scalpel,8,34.80,34.80